#container{
    background: #2b2b2b;
    height: 100%;
    width: 100%;
    min-height: 1024px;
    overflow-y: auto;
}
#head{
    background: #3b3b3b;
    width: auto;
    text-align: center;
    margin: auto;
    padding: 20px;
    color: #909090;
    font-size: 30px;
    font-weight: 1;
}
#content-list{
    margin:20px 10px 20px 10px ;
    min-height: calc(100%-180px);
    border-radius: 5px;
    background: #3b3b3b;
    display: flex;
    flex-direction: column;
}
#content-items{
    color: #909090;
    margin: auto 10px;
    font-size: 20px;
    font-weight: 1;
    line-height: 50px;
    text-decoration: none;
}
#footer{
    background: #3c3c3c;
    color: #606060;
    text-align: center;
    justify-content: center;
}
#copyright{
    font-size: 10px;
    padding-top:20px;
    padding-bottom:20px;
}
element {
    -webkit-touch-callout:none;
  
}